{#{% extends "TwigBundle::layout.html.twig" %}#}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/esbattle/css/all.css') }}" />
{% endblock %}

{% block title 'Demo Bundle' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    {% block content_header %}

            {% block content_header_more %}
                <div>
                    <ul>
                        <li><a href="/app_dev.php/admin/upload">upload image</a></li>
                        <li><a href="/app_dev.php/admin/biblio">biblio</a></li>
                        <li><a href="/app_dev.php/admin/redaction">redaction</a></li>
                        <li><a href="/app_dev.php/admin/partenaire">partenaire</a></li>
                        <li><a href="/app_dev.php/admin/video">video</a></li>
                    </ul>
                </div>
            {% endblock %}

        <div style="clear: both"></div>
    {% endblock %}

    <div class="block">
        {% block content %}{% endblock %}
    </div>

    {% if code is defined %}
        <h2>Code behind this page</h2>
        <div class="block">
            <div class="symfony-content">{{ code|raw }}</div>
        </div>
    {% endif %}
{% endblock %}
