{% extends 'AcmeEsBattleBundle::layout.html.twig' %}

{% block content %}
<h2>Vidéo</h2>
<form name="test" action="" method="post">
    {{ form_widget(form) }}
	<input type="submit" value="Valider" class="btn btn-primary">
</form>
{% endblock %}