{% extends 'AcmeEsBattleBundle::layout.html.twig' %}

{% block content %}
<h2>Liste des images</h2>
<div class="row">
	{% for document in documents %}
	<div style="display:inline-block">
		<a href="/{{ document.webpath }}">
			<img src="/{{ document.webpath }}" width="100px"/>
			<!--<div class="caption">{{ document.name }}</div>-->
		</a>
	</div>
	{% endfor %}
</div>
{% endblock %}