<ul>
{% for document in documents %}
    <li>
        <img src="/{{ document.webpath }}" width="20%" height="auto"/>
        <a href="/{{ document.webpath }}">{{ document.name }}</a>
    </li>
{% endfor %}
</ul>